/*import React, { useState } from "react";


Tela de cadastro 

export const NewSajuano = () => {
  const [name, setName] = useState("");
  const [cpf, setCPF] = useState("");
  const [rg, setRG] = useState("");
  const [issuer, setIssuer] = useState("");
  const [birthdate, setBirthdate] = useState("");
  const [race, setRace] = useState("");
  const [gender, setGender] = useState("");
  const [sexualOrientation, setSexualOrientation] = useState("");
  const [ufbaStudent, setUfbaStudent] = useState("");
  const [institution, setInstitution] = useState("");
  const [email, setEmail] = useState("");
  const [phone, setPhone] = useState("");
  const [cep, setCEP] = useState("");
  const [street, setStreet] = useState("");
  const [number, setNumber] = useState("");

  return (
    <div>
      
<div>
<h2>Informações Pessoais</h2>
<div>
<label>Nome</label>
<input type="text" />
</div>
<div>
<label>CPF</label>
<input type="text" />
</div>
<div>
<label>RG</label>
<input type="text" />
</div>
<div>
<label>Emissor</label>
<input type="text" />
</div>
<div>
<label>Data de nascimento</label>
<input type="text" />
</div>
<div>
<label>Raça/Cor</label>
<select>
<option value="Prefiro não dizer">Prefiro não dizer</option>
</select>
</div>
<div>
<label>Gênero</label>
<select>
<option value="Prefiro não dizer">Prefiro não dizer</option>
</select>
</div>
<div>
<label>Orientação sexual</label>
<select>
<option value="Prefiro não dizer">Prefiro não dizer/}
    </div> </div>
  );
};
export default NewSajuano;
*/